.pe-container {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 40px;
    padding: 20px;
    background-color: rgb(196, 187, 227);
}

.title {
    text-align: center;
}

.text-container {
    position: relative;
    width: 90%;
}

textarea {
    position: relative;
    width: 100%;
    flex: 1;
    resize: none;
    padding: 10px;
    font-size: 1.2em;
}
