@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 10;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.login-root{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.login-wrapper {
    width: 380px;
    background: #fff;
    border-radius: 15px;
    display: grid;
    place-items: center;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.1);
}

.login-wrapper .title{
    font-size: 35px;
    font-weight: 600;
    width: 100%;
    line-height: 100px;
    text-align: center;
    color: #fff;
    user-select: none;
    border-radius: 15px 15px 0 0;
    background: linear-gradient(-140deg, #c850c0, #4158d0);
}

.login-wrapper form{
    padding: 10px 40px 50px 30px;
}

.login-wrapper form .field{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

.login-wrapper form .field input{
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    padding-right: 30px;
    border: 1px solid lightgrey;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.login-wrapper form .field input:focus,
form .field input:not(:placeholder-shown){
  border-color: #4158d0;
}

.login-wrapper form .field label{
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}


form .field input:focus ~ label,
form .field input:not(:placeholder-shown) ~ label{
    top: 0%;
    font-size: 16px;
    color: #4158d0;
    background: #fff;
    transform: translateY(-50%);
}

.login-wrapper form .login-box{
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

form .login-box input{  
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    transition: all 0.3s ease;
    width: 100%;
    border-radius: 5px;
}

form .login-box input:active{
    transform: scale(0.95);
}

form .signup-link a{
    color: #4158d0;
    text-decoration: none;
}

form .signup-link a:hover{
    text-decoration: underline;
}

.server-error-window {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 200px;
    z-index: 2;
    box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
    background-color: red;
    display: flex;
    flex-direction: column;
    font-size: 30px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    user-select: none;
}

.window-error-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    justify-content: center;
    height: 20%;
}

.window-title{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.window-title div{
    color: white;
}

.window-close-button{
    color: rgb(51, 50, 50);
    display: inline-block;
    cursor: pointer;
    position: absolute;
    right: 5px;
}

.window-error-body{
    display: flex;
    flex-grow: 1;
    background: white;
    align-items: center;
    justify-content: center;
    height: 80%;
    font-size: 25px;
    font-weight: 400;
    line-height: 50px;
}

.circle-exclamation-icon{
    color: red;
    height: 50px;
    margin: 20px;
}

.loading_spinner{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    z-index: 3;
    width: 150px;
    padding: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: #25b09b;
    --_m: 
        conic-gradient(#0000 10%,#000),
        linear-gradient(#000 0 0) content-box;
    -webkit-mask: var(--_m);
            mask: var(--_m);
    -webkit-mask-composite: source-out;
            mask-composite: subtract;
    animation: l3 1s infinite linear;
}
@keyframes l3 {to{transform: rotate(1turn)}}

.login_error{
    color: red;
    font-size: 12px;
    padding: 0;
    margin: 0;
}  

.login-wrapper form .field  .pass-visibility-button{
    position: absolute;
    top: 50%;
    right: 5px;
    cursor: pointer;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}