.slide {
    position: relative;
    border: 2px solid black;
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 5%;
}

.slide-content{
    position: relative;
    width: 100%;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto;
}

.no-seleccionable {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.slide-number {
    position: absolute;
    bottom: 1%;
    right: 2%;
    font-weight: bold;
}